/* common css */
.btn-primary{
    border:none;
    background-color:rgb(255, 136, 0);
    padding: 15px 32px;
    border-radius: 5px;
    font-size: 1.25em;
    color:white ;
}

/* Nav styles */

body{
    margin: 10px auto;
    padding: 0 2px;
}

.header{
    background-image: url(images/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}
.nav-primary{
    color: rgb(255, 136, 0);
}

.nav-title{
    font-weight: 800px;
    font-size:45px;
}

nav{
    display: flex;
    justify-content: space-between; 
    margin: 0 200px;
}

.nav-list{
    align-items:center;
}

nav ul li {
    list-style:none;
}

nav ul li a{
    text-decoration: none;
    color: #000000;
    font-size: 1.50em;
}

nav ul{
    display:flex;
    gap:1.25em;
}

button:hover{
    cursor:pointer;
    box-shadow:2px 2px 3px black; 
}

.btn-2{
    border:3px solid rgb(255, 136, 0);
    color:rgb(255, 136, 0);
    padding: 15px 32px;
    border-radius: 5px;
    font-size: 1.25em;
    margin:0 0 0 15px;

}

/* Banner styles */

.Welcome-title{
    color: #000000;
    font-size: 2em;
    margin-bottom:20px;

}

.banner-title{
    font-weight: bolder;
    font-size: 50px;
}

.my-passion{
    color: #000000;
    font-size: 1.30em;
    
}

.banner-profile-pic{
    width: 580px;


}

.banner{
    display:flex
    
}

.banner-content{
    max-width: 580px;
    justify-content: space-between; 
    margin:0 35px 0 200px;
}

/* about me styles */

.about{
    text-align: center;
    background-color: rgb(254, 240, 222);
    padding: 100px;
    margin: 80px 150px;

}
 .about-items{
    display: flex;
    justify-content: space-between;
 }
 .item-title{
    color: #342f2f;
    font-size: larger;
 }
 .item-description{
    font-size: 1.25em;
 }